@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
  --clr-1:#ffffff;
  --clr-2:#ffd983;
  --clr-3:#000000;
  --clr-4:#6CAA7F;
}

$clr1:var(--clr-1);
$cle2:var(--clr-2);
$clr3:var(--clr-3);
$clr4:var(--clr-4);
$font-fam-1:'Josefin Sans', sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-fam-1;
}